# Java defaults
*.class
*.jar
*.war
*.ear

# Eclipse / Anypoint Studio
.metadata/
bin/
tmp/
.externalToolBuilders/
*.launch
.cproject

# Studio / Mule-specific
target/
.mule/
velocity.log
.DS_Store

# Temp Files / backup
*.tmp
*.bak
*.swp
*~.nib
